.custom-dropdown {
    width: 100%;
    height: 36px;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--dropdown-label);
    background: var(--white);
}
.option-icon {

}
.option-label {

}